/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26/02/2015, 20:03:20
    Author     : 20131064110155
*/

#Centro{
    position: relative;
    top: 100px;
}

.excluir{
    background: red;
    color: black;
    padding: 50px;
    text-align: center;
}

.ListAluno{position: relative;
           top: 80px; 
            }

#logon{position:absolute;
       left: 0px;}


